 <section id="home" class="home-particles">

   	<div class="shadow-overlay"></div>

   	<div class="content-wrap-table">		   

		   <div class="main-content-tablecell">

		   	<div class="row">
		   		<div class="col-twelve">

		   			<div id="counter">
		   				<div class="half">
		   					<span > Renovum Health</span> 
		   				</div>
		   			</div>
						 	
			  			<div class="bottom-text">
			  				<h1>Coming soon.</h1>
				  			<p>
							Renovum is tranforming insurance and benefits for tomorrow's economy.
				  			</p>			  				
			  			</div>			  						  			   			

			   	</div>  

			   	<
		   	</div> <!-- /row -->  
			
		   </div> <!-- /main-content --> 
		   
		</div> <!-- /content-wrap -->